.NFTPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 0px 24px 0px 24px;
  width: 100%;
  position: relative;
  top: 0px;
  // overflow-y: hidden;

  .Header {
    width: 100%;
    background-color: white;
    flex-direction: row;
    // justify-content: ;

    h2 {
      margin: 0px 0px 15px 0px;
    }
  }

  .MainSection {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    // overflow-y: hidden;

    .DesktopNavigation {
      width: 326px;
      height: 368px;
      background-color: white;
      margin: 0px 24px 0px 0px;
      padding: 4px 0px 12px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .FiltersPanel {
        padding: 10px 16px 10px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .FiltersHeader {
          font-size: 18px;
          font-weight: 600;
          line-height: 18px;
          font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system,
            "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
            "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .SidebarIcon:hover {
          cursor: pointer;
        }
      }

      .MadeWithSectionDesktop {
        width: 100%;
        display: flex;
        flex-direction: column;

        .MadeWithHeaderSection {
          width: 100%;
          padding: 10px 16px 10px 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .MadeWithHeader {
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
              "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          }

          .MadeWithCaret {
            transform: rotate(-180deg);
            transition: transform 0.2s;
          }
        }

        .MadeWithHeaderSection:hover {
          background-color: #e6e3e3;
        }

        .MadeWithHeaderSection:hover {
          cursor: pointer;
        }

        .MadeWithMainSection {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .TypeCheckboxLabel {
            display: inline-flex;
            cursor: pointer;
            position: relative;
            flex-direction: row;
            align-items: center;

            span {
              color: #34495e;
              padding: 0.5rem 0.25rem;
              font-size: 16px;
              line-height: 16px;
              font-weight: 500;
            }

            input {
              margin-left: 12px;
              height: 25px;
              width: 25px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .NFTsSection {
      display: flex;
      flex: 1;
      background-color: white;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: hidden;
      // min-height: 0px;
      position: relative;

      .NFTsHeader {
        width: 100%;
        height: 48px;
        padding-bottom: 10px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // display: none;

        .FilterButtonDesktop {
          padding: 7px 20px;
          border: 1px solid black;
          margin: 0px 10px 0px 0px;
          border-radius: 30px;
          font-size: 20px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system,
            "Segoe UI", Roboto;
          font-weight: 600;

          .FilterIconHeader {
            margin-right: 5px;
          }
        }

        .FilterButtonDesktop:hover {
          cursor: pointer;
        }

        .SortButtonDesktop {
          padding: 7px 20px;
          border: 1px solid black;
          margin: 0px 10px 0px 0px;
          border-radius: 30px;
          font-size: 20px;
          line-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "SF Pro Text", BlinkMacSystemFont, -apple-system,
            "Segoe UI", Roboto;
          font-weight: 600;

          .SortIcon {
            margin-right: 5px;
          }
        }

        .SortButtonDesktop:hover {
          cursor: pointer;
        }
      }

      .NFTs {
        width: 100%;
        // flex-grow: 1;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: calc(100vh - 186px);
        // margin-left: -12px;

        .NFTSidebarOn {
          background-color: white;
          width: 33.3333%;
          //   aspect-ratio: 50 / 50;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          justify-content: flex-start;

          .NFTSidebarOnInner {
            height: 100%;
            width: 100%;
            background-color: white;
            padding: 0px 12px 0px 12px;

            // position: relative;

            .NFTSidebarOnInnerInner {
              height: 100%;
              width: 100%;
              //   border: thick maroon solid;
              border-radius: 20px;
              overflow: hidden;
              box-shadow: 3px 3px 3px black;
              border: 1px solid black;

              .ImageContainer {
                height: 51%;
                width: 100%;
                background-color: white;
                position: relative;
              }

              .InformationBox {
                height: 49%;
                width: 100%;
                background-color: white;
                padding: 16px 24px 32px 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .PriceInformation {
                  width: 100%;
                  height: 150px;
                  background-color: white;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;

                  .EditionsMinted {
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: bold;
                    height: 15px;
                    width: 100%;
                    text-align: left;
                    margin: 0px;
                  }

                  .NFTName {
                    width: 100%;
                    font-size: 21px;
                    font-weight: 700;
                    margin: 0px;
                    margin-top: 8px;
                  }

                  .PriceAndType {
                    display: flex;
                    flex-direction: row;
                    margin-top: 16px;

                    .PriceBox {
                      display: flex;
                      flex-direction: column;
                      margin-right: 24px;

                      .PriceLabel {
                        color: gray;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: bold;
                      }

                      .Price {
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: bold;
                      }
                    }

                    .TypeBox {
                      display: flex;
                      flex-direction: column;
                      margin-left: 24px;

                      .TypeLabel {
                        color: gray;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: bold;
                      }

                      .Type {
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: bold;
                      }
                    }
                  }
                }

                .UserInformation {
                  width: 100%;
                  height: 40px;
                  background-color: white;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  .ProfilePictureContainer {
                    padding-right: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ProfilePicture {
                      border-radius: 50%;
                    }
                  }

                  .UsernameContainer {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .Username {
                      font-size: 18px;
                      line-height: 22px;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }

        .NFTSidebarOff {
          padding: 0px 12px 0px 12px;
          background-color: white;
          width: 25%;
          box-sizing: border-box;
          margin-bottom: 10px;

          .NFTSidebarOffInner {
            // height: 100%;
            width: 100%;
            background-color: white;
            padding: 0px 12px 0px 12px;

            // position: relative;

            .NFTSidebarOffInnerInner {
              height: 100%;
              width: 100%;
              //   border: thick maroon solid;
              border-radius: 20px;
              overflow: hidden;
              box-shadow: 3px 3px 3px black;

              .ImageContainer {
                height: 51%;
                width: 100%;
                background-color: white;
                position: relative;
              }

              .InformationBox {
                height: 49%;
                width: 100%;
                background-color: white;
                padding: 16px 24px 32px 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .PriceInformation {
                  width: 100%;
                  height: 150px;
                  background-color: white;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;

                  .EditionsMinted {
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: bold;
                    height: 15px;
                    width: 100%;
                    text-align: left;
                    margin: 0px;
                  }

                  .NFTName {
                    width: 100%;
                    font-size: 21px;
                    font-weight: 700;
                    margin: 0px;
                    margin-top: 8px;
                  }

                  .PriceAndType {
                    display: flex;
                    flex-direction: row;
                    margin-top: 16px;

                    .PriceBox {
                      display: flex;
                      flex-direction: column;
                      margin-right: 24px;

                      .PriceLabel {
                        color: gray;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: bold;
                      }

                      .Price {
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: bold;
                      }
                    }

                    .TypeBox {
                      display: flex;
                      flex-direction: column;
                      margin-left: 24px;

                      .TypeLabel {
                        color: gray;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: bold;
                      }

                      .Type {
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: bold;
                      }
                    }
                  }
                }

                .UserInformation {
                  width: 100%;
                  height: 40px;
                  background-color: white;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  .ProfilePictureContainer {
                    padding-right: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ProfilePicture {
                      border-radius: 50%;
                    }
                  }

                  .UsernameContainer {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .Username {
                      font-size: 18px;
                      line-height: 22px;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }

        .NFTLoadingBox {
          background-color: white;
          width: 33.3333%;
          //   aspect-ratio: 50 / 50;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          justify-content: center;
          align-items: center;
          background-color: white;

          .NFTLoadingBoxInner {
            width: 100%;
            background-color: white;
            padding: 0px 12px 0px 12px;

            .NFTLoadingBoxInnerInner {
              height: 100%;
              width: 100%;
              border-radius: 20px;
              overflow: hidden;
              background-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .NFTsLoadingBox {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .MobileFilters {
    position: absolute;
    top: -95px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 500;
    flex-direction: column;

    .MobileFiltersMain {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .MobileFiltersHeader {
        padding: 16px 32px 12px 32px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .MobileFilterIconBox {
          display: flex;
          flex-direction: row;

          .MobileFilterIcon {
            margin-right: 8px;
          }

          .MobileFilterLabel {
            font-size: 18px;
            font-weight: bold;
            margin: 0px;
            line-height: 18px;
          }
        }

        .MobileFilterCloseButton {
        }

        .MobileFilterCloseButton:hover {
          cursor: pointer;
        }
      }

      .MobileFiltersHeader:hover {
        background-color: lightblue;
      }
    }
  }
}

@media (max-width: 1200px) {
  .NFTPage {
    .MainSection {
      .NFTsSection {
        .NFTs {
          .NFTSidebarOn {
            width: 50%;

            .NFTSidebarOnInner {
              .NFTSidebarOnInnerInner {
                .ImageContainer {
                  height: 65%;
                }

                .InformationBox {
                  height: 35%;
                }
              }
            }
          }

          .NFTSidebarOff {
            width: 33%;

            .NFTSidebarOffInner {
              .NFTSidebarOffInnerInner {
                .ImageContainer {
                  height: 60%;
                }

                .InformationBox {
                  height: 40%;
                }
              }
            }
          }

          .NFTLoadingBox {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .NFTPage {
    padding: 0px 36px 0px 36px;

    .MainSection {
      .DesktopNavigation {
        display: none;
      }

      .NFTsSection {
        .NFTs {
          .NFTSidebarOn {
            width: 50%;

            .NFTSidebarOnInner {
              .NFTSidebarOnInnerInner {
                .ImageContainer {
                  height: 65%;
                }

                .InformationBox {
                  height: 35%;
                }
              }
            }
          }

          .NFTSidebarOff {
            width: 50%;

            .NFTSidebarOffInner {
              .NFTSidebarOffInnerInner {
                .ImageContainer {
                  height: 60%;
                }

                .InformationBox {
                  height: 40%;
                }
              }
            }
          }

          .NFTLoadingBox {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .NFTPage {
    .MainSection {
      .DesktopNavigation {
        display: none;
      }

      .NFTsSection {
        height: 100vh;

        .NFTs {
          .NFTSidebarOn {
            width: 50%;

            .NFTSidebarOnInner {
              .NFTSidebarOnInnerInner {
                .ImageContainer {
                  height: 75%;
                }

                .InformationBox {
                  height: 25%;
                }
              }
            }
          }

          .NFTSidebarOff {
            width: 100%;

            .NFTSidebarOffInner {
              .NFTSidebarOffInnerInner {
                .ImageContainer {
                  height: 75%;
                }

                .InformationBox {
                  height: 25%;
                }
              }
            }
          }

          .NFTLoadingBox {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .NFTPage {
    .MainSection {
      .DesktopNavigation {
        display: none;
      }

      .NFTsSection {
        .NFTs {
          .NFTSidebarOn {
            width: 100%;

            .NFTSidebarOnInner {
              .NFTSidebarOnInnerInner {
                .ImageContainer {
                  height: 70%;
                }

                .InformationBox {
                  height: 30%;
                }
              }
            }
          }

          .NFTSidebarOff {
            width: 100%;

            .NFTSidebarOffInner {
              .NFTSidebarOffInnerInner {
                .ImageContainer {
                  height: 70%;
                }

                .InformationBox {
                  height: 30%;
                }
              }
            }
          }

          .NFTLoadingBox {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .NFTPage {
    .MainSection {
      .DesktopNavigation {
        display: none;
      }

      .NFTsSection {
        .NFTsHeader {
          .FilterButtonDesktop {
            padding: 5px 16px;
          }

          .SortButtonDesktop {
            padding: 5px 16px;
          }
        }

        .NFTs {
          .NFTSidebarOn {
            width: 100%;

            .NFTSidebarOnInner {
              .NFTSidebarOnInnerInner {
                .ImageContainer {
                  height: 60%;
                }

                .InformationBox {
                  height: 40%;
                }
              }
            }
          }

          .NFTSidebarOff {
            width: 100%;

            .NFTSidebarOffInner {
              .NFTSidebarOffInnerInner {
                .ImageContainer {
                  height: 60%;
                }

                .InformationBox {
                  height: 40%;
                }
              }
            }
          }

          .NFTLoadingBox {
            width: 100%;
          }
        }
      }
    }
  }
}
