.NFTCardContainer {
  position: relative;
  width: 20%;
  height: 300px;
  padding: 20px;
  background-color: orange;
  display: block;

  .NFTCard {
    float: left;
    width: calc(100%);
    height: 100%;
    background-color: purple;
    direction: flex;
    flex-direction: row;
    border-radius: 30px;
    overflow: hidden;

    .ImageOuter {
      position: relative;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-size: 100%;
    }

    .Info {
      height: 100%;
      width: 0%;
      background-color: pink;
      transition: flex 0.22s;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .InfoInner {
        width: 100%;
        height: 100%;
        background-color: indigo;
        // display: none;
        opacity: 0;
        transition: opacity 0.2s linear 0.22s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .MainSection {
          width: 100%;

          .Name {
            font-family: "Prompt", sans-serif;
            font-size: 25px;
            line-height: 25px;
            overflow: hidden;
            margin: 0px;
          }

          .MainInfo {
            .PriceAmountSold {
              display: flex;
              flex-direction: row;
              margin-top: 20px;

              .PriceBox {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 20px;

                .PriceLabel {
                  color: gray;
                  font-size: 14px;
                  line-height: 15px;
                  font-weight: bold;
                  margin: 0px;
                  text-align: left;
                }

                .Price {
                  font-size: 20px;
                  line-height: 26px;
                  font-weight: bold;
                  margin: 0px;
                }
              }

              .AmountSoldBox {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 20px;

                .AmountSoldLabel {
                  color: gray;
                  font-size: 14px;
                  line-height: 15px;
                  font-weight: bold;
                  margin: 0px;
                  text-align: left;
                }

                .AmountSold {
                  font-size: 20px;
                  line-height: 26px;
                  font-weight: bold;
                  margin: 0px;
                }
              }
            }

            .EditionsViews {
              display: flex;
              flex-direction: row;
            }
          }
        }

        .UsernameSection {
          width: 100%;
          height: 40px;
          background-color: black;
        }
      }
    }
  }

  .NFTCard:hover {
    position: absolute;
    background-color: green;
    height: calc(100% - 40px);
    top: 20px;
    width: 220%;
    z-index: 200;
    display: flex;

    .ImageOuter {
      width: 40%;
    }

    .Info {
      flex: 1;

      .InfoInner {
        direction: ltr;
        display: flex;
        opacity: 1;
        background-color: white;
      }
    }
  }
}

@media (max-width: 1300px) {
  .NFTCardContainer {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .NFTCardContainer {
    position: relative;
    width: 33.333%;
    // height: 300px;
    padding: 20px;
    background-color: orange;
    display: block;
    //   overflow: hidden;

    .NFTCard {
      float: left;
      width: calc(100%);
      height: 100%;
      background-color: purple;
      direction: flex;
      flex-direction: row;

      .ImageOuter {
        height: 100%;
        width: 100%;
        background-color: blue;
      }

      .Info {
        height: 100%;
        // width: 0%;
        background-color: pink;
      }
    }

    .NFTCard:hover {
      position: absolute;
      background-color: green;
      height: calc(100% - 40px);
      top: 20px;
      width: 190%;
      z-index: 200;
      display: flex;

      .ImageOuter {
        width: 45%;
      }

      .Info {
        // width: 51.2%;
      }
    }
  }
}
