.AdminPageLayout {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // height: 100%;

  .AdminSidebar {
    height: calc(100vh - 95px);
    width: 239px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
  }

  .Icon {
    // background-color: magenta;
  }
}

@media (max-width: 768px) {
  .AdminPageLayout {
    .AdminSidebar {
      display: none;
    }
  }
}
